body {
    margin: 0;
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
    color: deepskyblue;
}
.Homepage {
    padding: 400px 0;
    background-image: url(https://images.unsplash.com/photo-1519943150879-3417bc7a6d63?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fHNreXNjcmFwZXJ8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&w=1000&q=80);
    background-size: cover;
    color: white;
}
