body {
    margin: 0;
    height: 100%;
    width: 100%;
    
    background-image: url(https://cdn.pixabay.com/photo/2015/07/02/10/08/architecture-828596_960_720.jpg);
    background-size: cover;
    
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: white;
    /*
    opacity: 0.5;
    filter: alpha(opacity=50);
    */
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 15px 15px;
    width: 80px;
    height: auto;
}

nav {
    padding-left: 200px;
    font-weight: 600;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 175px;
    padding-top: 40px;
    cursor: pointer;

    position: relative;
}

nav a {
    color: #04447D;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover {
    color: #8EA9C1;
}

nav a:hover::before {
    width: 100%;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #04447D;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 350ms;
}

h1 {
    color: #04447D;
    font-size: 56px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 165px;
}

.btn1 {
    background-color: #04447D;
    cursor: pointer;
    width: 100px;
    height: 50px;
    margin-left: 100px;
    outline: none;
    border: none;
    color: white;
    border-radius: 1.5em 1.5em 1.5em 1.5em;
}

.btn1:hover {
    transform: translateY(-5px);
}






