body {
    margin: 0;
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
    color: deepskyblue;
}
.homepage {
    padding: 150px 0;
    background-image: url(shorturl.at/vNV59);
    background-size: cover;
}
